.gallery {
  text-align: center;
}

.cards {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}


@media screen and (max-width: 768px) {
  .cards {
    display: flex;
    flex-direction: column;
  }
}