.header {
  background-color: var(--header-background);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
}

.navigations {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.cart {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
}

.cartIcon {
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .navigations {
    margin: 2rem 0;
  }
}
