.header {
  background-color: var(--header-background);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
}

.navigations {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}
